
* {
	box-sizing: border-box;
}

#sectionId {
	display: inline;
	color: blue;
	font-weight: bold;
	width: 100%;
}

.sectionElem {
	padding: 5px;
	margin: 5px;
}

span {
	color: white;
	background-color: #A52A2A;
}

#sec1 {
	float: left;
	height: 100px;
	background-color: cyan;
	text-align: right;
	text-shadow: 1px 1px #ff0000;
}

#sec2 {
	float: left;
	height: 100px;
	background-color: yellow;
	text-align: right;
}

#sec3 {
	float: left;
	height: 100px;
	background-color: lightgrey;
	text-align: right;
}

/*
#sec4 {
	float: left;
	height: 100px;
	background-color: lightgreen;
}

*/

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		border: 1px solid green;
	}
	
	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}	
	
	.col-lg-3 {
		width: 25%;
	}	
	
	.col-lg-4 {
		width: 33%;
	}
	
	.col-lg-5 {
		width: 41.66%;
	}
	
	.col-lg-6 {
		width: 50%;
	}
	
	.col-lg-7 {
		width: 58.33%;
	}
	
	.col-lg-8 {
		width: 66.66%;
	}
	
	.col-lg-9 {
		width: 74.99%;
	}
	
	.col-lg-10 {
		width: 83.33%;
	}
	
	.col-lg-11 {
		width: 91.66%;
	}
	
	.col-lg-12 {
		width: 100%;
	}	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		border: 1px solid blue;
	}
	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}	
	
	.col-md-3 {
		width: 25%;
	}	
	
	.col-md-4 {
		width: 33%;
	}
	
	.col-md-5 {
		width: 41.66%;
	}
	
	.col-md-6 {
		width: 50%;
	}
	
	.col-md-7 {
		width: 58.33%;
	}
	
	.col-md-8 {
		width: 66.66%;
	}
	
	.col-md-9 {
		width: 74.99%;
	}
	
	.col-md-10 {
		width: 83.33%;
	}
	
	.col-md-11 {
		width: 91.66%;
	}
	
	.col-md-12 {
		width: 100%;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-lo-1, .col-lo-2, .col-lo-3, .col-lo-4, .col-lo-5, .col-lo-6, .col-lo-7, .col-lo-8, .col-lo-9, .col-lo-10, .col-lo-11, .col-lo-12 {
		float: left;
		border: 1px solid blue;
	}
	.col-lo-1 {
		width: 8.33%;
	}

	.col-lo-2 {
		width: 16.66%;
	}	
	
	.col-lo-3 {
		width: 25%;
	}	
	
	.col-lo-4 {
		width: 33%;
	}
	
	.col-lo-5 {
		width: 41.66%;
	}
	
	.col-lo-6 {
		width: 50%;
	}
	
	.col-lo-7 {
		width: 58.33%;
	}
	
	.col-lo-8 {
		width: 66.66%;
	}
	
	.col-lo-9 {
		width: 74.99%;
	}
	
	.col-lo-10 {
		width: 83.33%;
	}
	
	.col-lo-11 {
		width: 91.66%;
	}
	
	.col-lo-12 {
		width: 100%;
	}	
}
